# Godot 4+ specific ignores
.godot/
.godot
.sqbpro
/+DO_NOT_UPLOAD
addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
+DO_NOT_UPLOAD - Shortcut.lnk
addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
export_presets.cfg
*.TMP
